<a href="https://colab.research.google.com/github/travorhouse12/self-tracker/blob/main/sleep_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import pandas as pd
import os
import datetime
from google.cloud import bigquery
import json

url = 'https://api.ouraring.com/v2/usercollection/daily_sleep' 
url_2 = 'https://api.ouraring.com/v2/usercollection/sleep' 
params={ 
    'start_date': '2022-06-01', 
    'end_date': datetime.datetime.now().strftime('%Y-%m-%d') 
}
headers = { 
  'Authorization': 'Bearer K665WRL25FF3P3MMBVBEBFUG36W3FO7O' 
}
response_daily_sleep = requests.request('GET', url, headers=headers, params=params)
response_sleep = requests.request('GET', url_2, headers=headers, params=params)
r_daily_sleep = response_daily_sleep.json()
r_sleep = response_sleep.json()

In [ ]:
# Convert the Json to a DataFrame
df_daily_sleep_score = pd.json_normalize(r_daily_sleep['data'])
df_sleep = pd.json_normalize(r_sleep['data'])

In [ ]:
df_daily_sleep_score.columns

Index(['id', 'day', 'score', 'timestamp', 'contributors.deep_sleep',
       'contributors.efficiency', 'contributors.latency',
       'contributors.rem_sleep', 'contributors.restfulness',
       'contributors.timing', 'contributors.total_sleep'],
      dtype='object')

In [ ]:
df_daily_sleep_score[['score', 'day']].sort_values(by='day', ascending = False)

     score         day
211     83  2023-02-03
210     81  2023-02-02
209     84  2023-02-01
208     76  2023-01-31
207     80  2023-01-30
..     ...         ...
4       86  2022-06-26
3       57  2022-06-25
2       69  2022-06-24
1       70  2022-06-23
0       77  2022-06-22

[212 rows x 2 columns]

In [ ]:
# Rename the columns by replacing "contributors." with an empty string
df_daily_sleep_score.rename(columns=lambda s: s.replace("contributors.", ""), inplace=True)
df_sleep.rename(columns=lambda x: x.split(".")[-1], inplace = True)

# Convert the day column to a datetime data type
df_daily_sleep_score["day"] = pd.to_datetime(df_daily_sleep_score["day"], format="%Y/%m/%d")
df_sleep["day"] = pd.to_datetime(df_sleep["day"], format="%Y/%m/%d")

# Remove the timestamp column
df_daily_sleep_score.drop(columns=['timestamp'], inplace=True)
df_sleep.drop(columns=['average_breath', 'id', 'items', 'type', 'interval', 'sleep_phase_5_min', 'sleep_score_delta', 'movement_30_sec', 'previous_day_activity', 'previous_night', 'hrv', 'timestamp', 'heart_rate', 'readiness', 'temperature_trend_deviation', 'temperature_deviation'], inplace=True)

In [ ]:
df_sleep.to_csv('df_sleep_score.csv')

In [ ]:
# Set up credentials and connect to BigQuery project and load the data from a Pandas DataFrame into a specific table in BigQuery.

credentials_path = '/content/drive/My Drive/Colab Notebooks/sleep-data-372405-95f279fa42e7.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = credentials_path
client = bigquery.Client()
sleep_score_table_id = 'sleep-data-372405.sleep_sensors.sleep_table'
sleep_table_id = 'sleep-data-372405.sleep_sensors.sleep'

job_config = bigquery.LoadJobConfig(
    write_disposition = 'WRITE_TRUNCATE'
)

job_sleep_score = client.load_table_from_dataframe(
    df_daily_sleep_score, sleep_score_table_id, job_config=job_config
)
job_sleep = client.load_table_from_dataframe(
    df_sleep, sleep_table_id, job_config=job_config
)